*,
*::after,
*::before {
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
}

body {

    box-sizing: border-box !important;
    font-family: 'Poppins' !important;
}

.color-dark-light-custom {
    color: #263238 !important;
}

.border-dark-light-custom {
    border: 1px solid #263238 !important;
}

.font-w-5 {
    font-weight: 500 !important;
}

.bg-dark-light-custom {
    background-color: #263238 !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #263238;
    display: block;
    transition: all 0.2s;
}

.middle-bar {
    margin: 5px auto;
}

.bottom-bar {
    width: 25px;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    width: 30px;
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed.toggler-icon {
    background-color: #39515E;
}

.contact-inner {
    position: relative;
}

#alert-form {
    position: absolute;
    top: 250px;

}

#alert-form-modal {
    position: absolute;
    top: 220px;
    left: 5px;
}
.text-res{
    max-width: 100%;
}

/* MOBILE FIRST */



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   .text-res{
    text-align: center !important;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}